version: '3.7'
services:
    postgres:
        image: postgres
        restart: always
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=postgres
        logging:
            options:
                max-size: 10m
                max-file: '3'
        ports:
            - '5432:5432'
