.sub-group {
  padding: 10px 0;
}

.primary.v-list-item--active {
  $rounded: 24px;
  color: #fff !important;
  margin-right: 12px;
  border-top-right-radius: $rounded !important;
  border-bottom-right-radius: $rounded !important;

  &::before {
    border-top-right-radius: $rounded !important;
    border-bottom-right-radius: $rounded !important;
  }
}